<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Helloxxx, I'm Pedro Palomo Pérez.</h1>
      <h3 class="section-subheading">I have developed all my career in the Aerospace Industry, working in project related with Real-Time and Embedded Systems, always involved in software development, covering technical roles related with software engineering as well as project management.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I am a software engineer with fifteen years of experience</strong> and wide experience in international projects for embedded SW production for flight and ground applications, with strong knowledge in all the phases of the software life cycle.</p>
          <p class="about-text">Most of my career I have been involved in the development of <strong>Real Time Systems, Critical Software</strong>  and Software Engineering applied for operational systems and real time test benches.</p>
          <p class="about-text">I have been <strong>Project Manager</strong> in several projects with capabilities and formal education to face duties of higher responsibilities within the development cycle (including scoping, scheduling, budgeting), team coordination and technical lead. </p>
          <p class="about-text">Currently very interested in learning <strong>web</strong> and <strong>mobile development</strong> especially the full stack based in JavaScript, React, React-native, MongoDB, Express, NodeJS, GraphQL, etc, and all the technologies that are changing way of development SPA.</p>
          <p class="about-text">Lately I am starting to be very interested in the Machine learning field, it is my following challenge.</p>
        </div>
      </div>
    </div>
  </div>
</section>
