<section id="education-section" class="section gap">

  <div class="bg" data-anchor-target="#education-section"
  data-bottom-top="transform: translate3d(0px, -150px, 0px);"
  data-top-bottom="transform: translate3d(0px, 150px, 0px);"
  ></div>


  <div class="overlay-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Education</h1>
      <span class="divider"></span>
      <div class="education-wrapper">
        <div class="education-text-wrapper">
          <p class="education-text"><strong>M.S. Degree in Computer Science</strong>   2002</p>
          <p class="education-text"><a href="http://www.upm.es/" target="_blank">Universidad Politécnica de Madrid</a></p>
        </div>
        <br><br>
        <a href="https://www.upm.es/" target="_blank"><img class="shield" src="img/upm-logo.png" alt="headshot"></a>
        <a href="http://www.fi.upm.es/" target="_blank"><img class="shield-fi" src="img/fi-logo.png" alt="headshot"></a>  
      </div>
    </div>    
    <br><br><br><br><br><br><br><br>
    <div class="fade-in">      
      <h1 class="section-heading">Awards</h1>
      <span class="divider"></span>
      <div class="education-wrapper">
        <div class="award-text-wrapper">
            <p class="education-text"> <a href="http://www.adaspain.org/premios/" target="_blank"><strong>2nd place in the contest ADA-Spain</strong>   2002</a> </p>
            <p class="education-text">With work: Making the ORKs porting (Open Ravenscar Real Time Kernel) for space applications, from microprocessor ERC32 (SPARCV7) to i386-PC platform </p>
        </div>
      </div>      
    </div>    
  </div>  
</section>


